<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>WebDev on steroids</title>

		<meta name="description" content="Taller sobre desarrollo web + steroids">
		<meta name="author" content="Jon E. Eguiluz">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/blood.css" id="theme">

		<!-- Code syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section>
					<h1>WebDev On Steroids</h1>
					<h3>Bienvenido a 2015</h3>
					<p>
						<small>Creado por Jon E. Eguiluz / <a href="http://twitter.com/viroide">@viroide</a></small>
					</p>
				</section>
				<section>
					<h3><a href="https://www.twitter.com/viroide">Jon E. Eguiluz</a></h3>
					<pre><code>
{
    "name": "Jon E. Eguiluz",
    "title": "webDev ninja",
    "subtitle": "I ♥ coding",
    "languages": ["html", "css", "js", "python"],
    "extra_knowledge": ["git", "django", "gulp", "bash scripting", "linux"],
    "experience": "5 years as hard WebDev",
    "able_to_teaching": true
    "link": "https://www.twitter.com/viroide"
}
					</code></pre>
				</section>
        <section class="patrocinadores">
          <h2>Patrocinadores</h2>
          <!-- <img src="./img/logo_aa02.png" alt="Logo araba enkounter 02"> -->
          <br>
          <img src="./img/ed_sprii.jpg" alt="Logotipo sprii + Empresa digitala">
        </section>
				<section data-background="http://i.giphy.com/Er3QVX48nt5ok.gif">
					<h2>De esto...</h2>
				</section>
				<section data-background="http://i.giphy.com/JapiQqzjs4A1O.gif">
					<h2>...a esto</h2>
				</section>

				<section>
					<h2>Indice</h2>
					<ul>
						<li><strong>Editores de texto de este siglo</strong>: SublimeText3, Coda, Atom</li>
						<li><strong>Plugins para editores.</strong> (Sublime)</li>
						<li><strong>Terminal + esteroides</strong>: Tmux, zsh, Prezto/Oh my bash</li>
						<li><strong>Gestion de paquetes web</strong>: Bower</li>
						<li><strong>Automatizadores de tareas</strong>: Grunt vs Gulp...</li>
						<li><strong>.dotfiles</strong>: configuraciones útiles para casi todo</li>
					</ul>
				</section>

				<!-- Example of nested vertical slides -->
				<section>
					<section>
						<h2>Editores de texto</h2>
						<ul>
							<li>SublimeText 3</li>
							<li>Coda</li>
							<li>Atom</li>
							<li>(¿sugerencias?)</li>
						</ul>
					</section>
					<section>
						<h2>Sublime Text 3</h2>
						<ul>
							<li>Cursor múltiple</li>
							<li>Goto lo que haga falta</li>
							<li>Todos los comandos en la paleta</li>
							<li>Mini-mapa</li>
							<li><a href="https://packagecontrol.io/browse/labels/theme">Themes</a> y <a href="https://packagecontrol.io/">plugins</a> a paladas</li>
							<li><strong>Rápido y estable</strong></li>
						</ul>
					</section>
					<section data-background-video="/s3.amazonaws.com/files.panic.com/coda/Coda%20Demo%20English%201.2.mp4,//s3.amazonaws.com/files.panic.com/coda/Coda%20Demo%20English%201.2.webm"  data-background-video-loop>
						<h2>Coda</h2>
					</section>
					<section>
						<h2>Atom</h2>
						<ul>
							<li>Es de <a href="//www.github.com">github</a>.</li>
							<li><strong>Gratis</strong> y <strong>código libre</strong>.</li>
							<li>Integración con <strong>Git</strong></li>
							<li>Install and fun <strong>☺</strong></li>
							<li>Plugins y themes bien seleccionados.</li>
							<li>Interface bastante chulo.</li>
						</ul>
					</section>
					<section>
						<h2>Muchos más</h2>
						<ul>
							<li><a href="http://brackets.io/">Brackets</a></li>
							<li><a href="http://lighttable.com/">Light Table</a></li>
							<li><strong><a href="https://www.youtube.com/watch?v=pCiVCiku3cM">VIM</a></strong></li>
							<li>Notepad++</li>
							<li>UltraEdit</li>
							<li>Komodo</li>
							<li>"Eclipse"</li>
							<li>[...]</li>
							<li>Dreamweaver</li>
						</ul>
					</section>
				</section>

				<section >
					<section data-background="/img/overload.jpg" class="texto-subrallado">
						<h2><strong>Plugins para editores.</strong> (Sublime)</h2>
						<p>Para ST3 hay plugins para todo, de hecho demasiados.</p>
						<p>Hay que elegir solo lo que necesites, todo se carga en RAM y no queremos frenar a esta mala bestia.</p>
					</section>
					<section>
						<h2>Mis plugins</h2>
						<pre><code class="hljs" data-trim contenteditable>
{"installed_packages":
	[
		"All Autocomplete",
		"BracketHighlighter",
		"Color Highlighter",
		"ColorPicker",
		"Diffy",
		"Emmet",
		"Emmet Css Snippets",
		"Git",
		"Gulp",
		"Jade",
		"Markdown Preview",
		"Package Control",
		"Sass",
		"SideBarEnhancements",
		"Stylus",
		"SublimeLinter",
		"SublimeLinter-csslint",
		"SublimeLinter-jshint",
		"SublimeLinter-pyflakes",
		"Theme - Afterglow",
	]
}
						</code></pre>
						<p><a href="https://packagecontrol.io/">Más plugins</a></p>
					</section>
				</section>

				<section>
					<section>
						<h2>★Terminal★</h2>
						<p>La terminal es nuestra amiga, cuidemosla adecuadamente y démosle todo el cariño y esteroides que podamos.</p>
					</section>
					<section data-background="/img/tmux.png">
						<h2><strong><a href="http://tmuxp.readthedocs.org/en/latest/about_tmux.html">Tmux</a></strong> vs terminator</h2>
					</section>
					<section >
						<h2>zsh</h2>
						<ul>
							<li>Autocomplete molon</li>
							<li>Extension de path</li>
							<li>Corrector de tecleo para <em>"macnos"</em></li>
							<li>History mas inteligente</li>
							<li>Auto-highlight</li>
						</ul>
					</section>
					<section>
						<h2><a href="https://github.com/robbyrussell/oh-my-zsh">Oh my zsh!</a></h2>
						<p>Auto-tuneo de todo el shell</p>
						<ul>
							<li><a href="https://github.com/robbyrussell/oh-my-zsh/tree/master/plugins">Plugins</a></li>
							<li><a href="https://github.com/robbyrussell/oh-my-zsh/wiki/themes">Themes</a></li>
						</ul>
					</section>
					<section>
						<h2><a href="https://github.com/sorin-ionescu/prezto">Prezto</a></h2>
						<p>Lo mismo pero + sencillo + ordenado y + bonito</p>
					</section>
					<section>
						<h2>Mis plugins</h2>
						<pre><code>
  'environment' \
  'terminal' \
  'editor' \
  'history' \
  'directory' \
  'spectrum' \
  'utility' \
  'completion' \
  'prompt' \
  'git' \
  'fasd' \
  'python' \
  'history' \
  'syntax-highlighting'
						</code></pre>
					</section>
				</section>

				<section>
					<section data-background="/img/bower.png" data-background-repeat="repeat" data-background-size="100px" >
						<h2><a href="http://bower.io/">Bower</a></h2>
						<p class="texto-subrallado">	Install dependencies like a sir.</p>
					</section>
					<section>
						<h2>bower.json</h2>
						<pre><code>
{
  [...],
  "dependencies": {
    "headjs": "~1.0.3"
  },
  "devDependencies": {
    "bootstrap": "~3.3.5"
  }
}

						</code></pre>
					</section>
				</section>
				<section data-background="https://media.giphy.com/media/5VMNcCxVBibZK/giphy.gif">
          <section>
            <h2>Meta-lenguajes</h2>
          </section>
          <section>
            <h2>De css</h2>
            <h3>SaSS, Less, stylus...</h3>
          </section>
          <section>
            <h2>De js</h2>
            <h3>Coffee, ECMASCRIPT 6, TypeScript</h3>
          </section>
          <section>
            <h2>De html</h2>
            <h3>Jade, Mustache.js, EJS...</h3>
          </section>
        </section>
				<section>
					<section>
						<h2><a href="http://gruntjs.com/">Grunt</a> vs <a href="http://gulpjs.com/">Gulp</a> VS <a href="http://brunch.io/">Brunch</a></h2>
					</section>
					<section>
						<h2>Pros y contras</h2>
						<ul class="list-no-decoration">Grunt
							<li class="pro">+plugins</li>
							<li class="con">configuracion</li>
						</ul>
						<ul class="list-no-decoration">Gulp
							<li class="pro">+rápido</li>
							<li class="con">hype</li>
						</ul>
						<ul class="list-no-decoration">Brunch
							<li class="pro">como viene</li>
							<li class="con">-plugins</li>
						</ul>


					</section>
					<section>
						<h2>Grunt</h2>
						<pre><code>
module.exports = function( grunt ) {
    'use strict';

    grunt.initConfig({
        pkg: grunt.file.readJSON('package.json'),

        meta:{
            banner : '/* <%= pkg.name %> v<%= pkg.version %> - <%= grunt.template.today("yyyy/m/d") %>\n' +
                    '   <%= pkg.homepage %>\n' +
                    '   Copyright (c) <%= grunt.template.today("yyyy") %> <%= pkg.author %>' +
                    ' - Licensed <%= (pkg.license).join(", ") %> */\n',
            path : "emoweb/media/"
        },
        stylus: {
          compileDist: {
            options: {compress: true},
            files: {
              '<%= meta.path %>css/dist/estilos.css':
              ['<%= meta.path %>css/estilos.styl', '<%= meta.path %>css/icons.styl', '<%= meta.path %>css/graficas.styl'] // 1:1 compile
              // 'path/to/another.css': ['path/to/sources/*.styl', 'path/to/more/*.styl'] // compile and concat into single file
            }
          },
          compileDebug: {
            options: {compress: false,linenos: true},
            files: {
              '<%= meta.path %>css/dist/estilos_debug.css':
              ['<%= meta.path %>css/estilos.styl', '<%= meta.path %>css/icons.styl', '<%= meta.path %>css/graficas.styl'] // 1:1 compile
              // 'path/to/another.css': ['path/to/sources/*.styl', 'path/to/more/*.styl'] // compile and concat into single file
            }
          }
        },
        uglify: {
            options: {
                banner:"<%= meta.banner %>",
                report: 'gzip'
            },
            dist: {
                files: {
                    // 'yokse/static/dist/yokse.min.js': '<%= concat.dist.dest %>',
                    '<%= meta.path %>js/dist/all.min.js':
                     ['<%= meta.path %>components/scroll/jquery.mCustomScrollbar.min.js',
                       '<%= meta.path %>components/jquery-cookie/jquery.cookie.js',
                       '<%= meta.path %>js/main.js',
                       '<%= meta.path %>js/coffee.js'  ]
                }
            },
            beauty: {
                options: {
                    beautify: true
                },
                files: {
                    // 'yokse/static/dist/yokse.min.js': '<%= concat.dist.dest %>',
                    '<%= meta.path %>js/dist/beauty.min.js':
                    ['<%= meta.path %>components/scroll/jquery.mCustomScrollbar.min.js',
                       '<%= meta.path %>components/jquery-cookie/jquery.cookie.js',
                       '<%= meta.path %>js/main.js',
                       '<%= meta.path %>js/coffee.js'  ]
                }
            }
        },
        coffee:{
            compile: {
                files: {
                  '<%= meta.path %>js/coffee.js':
                  '<%= meta.path %>js/coffee/source.coffee', // 1:1 compile, identical output to join = false
                  // 'path/to/another.js': ['path/to/sources/*.coffee', 'path/to/more/*.coffee'] // concat then compile into single file
                }
          },
        },
        notify: {
            estilos: {
              options: {
                title: 'Nuevos stylos!!',  // optional
                message: 'grunt grunt gruuuunt', //required
              }
            },
            jss: {
              options: {
                title: 'Nuevos JSs!!',  // optional
                message: 'grunt grunt gruuuunt', //required
              }
            },
            deploy: {
              options: {
                title: 'DESPLEGAD!!',  // optional
                message: 'grunt grunt gruuuunt', //required
              }
            },
            coffee: {
                options: {
                    title: 'CAFECITO CALIENTEEE!!',  // optional
                    message: 'grunt grunt gruuuunt', //required
                }
            }
        },

        jshint: {
            all: ['Gruntfile.js', '<%= meta.path %>js/main.js', '<%= meta.path %>js/coffee.js']
        },


        watch: {
            options: {livereload: true},
            fruntfile:{
                files: ['Gruntfile.js'],
                tasks: ['jshint']
            },
            javascript: {
                files: ['<%= meta.path %>js/*.js'],
                tasks: ['jshint','uglify', 'notify:jss']
            },
            stiles: {
                files: ['<%= meta.path %>css/*.styl'],
                tasks: ['stylus', 'notify:estilos']
            },
            coffee:{
                files: '<%= meta.path %>js/coffee/source.coffee',
                tasks: ['coffee:compile', 'notify:coffee']
            }
        },


    });

    // grunt.loadNpmTasks( 'grunt-contrib-sass' );
    grunt.loadNpmTasks( 'grunt-contrib-watch' );
    grunt.loadNpmTasks( 'grunt-contrib-clean' );
    grunt.loadNpmTasks( 'grunt-contrib-concat' );
    grunt.loadNpmTasks( 'grunt-contrib-cssmin' );
    grunt.loadNpmTasks( 'grunt-contrib-uglify' );
    grunt.loadNpmTasks( 'grunt-contrib-stylus' );
    grunt.loadNpmTasks( 'grunt-notify');
    grunt.loadNpmTasks('grunt-contrib-coffee');
    grunt.loadNpmTasks('grunt-contrib-jshint');



    grunt.registerTask('compilar', [
      'jshint',
      'uglify',
      'stylus',
      'notify:compilar'
      ]);
    grunt.registerTask('desplegar', [
        'gitcommit',
        'gitpush',
        'sshexec:deploy',
        'notify:deploy']);

    grunt.registerTask('commit', [
        'gitcommit',
        'gitpush'
    ]);

    // grunt.registerTask( 'css', ['stylus'] );

};

						</code></pre>

					</section>
					<section>
						<h2>Gulp</h2>
						<pre><code>
'use strict';

var gulp        = require('gulp'),
    rename      = require('gulp-rename'),
    uglify      = require('gulp-uglify'),
    concat      = require('gulp-concat'),
    sourcemaps  = require('gulp-sourcemaps'),
    stylus      = require('gulp-stylus'),
    jshint      = require('gulp-jshint'),
    livereload  = require('gulp-livereload'),
    watch       = require('gulp-watch'),
    imagemin    = require('gulp-imagemin'),
    header      = require('gulp-header'),
    replace     = require('gulp-token-replace'),
    nib         = require('nib'),
    jade        = require('gulp-jade');

var pkg         = require('./package.json'),
    config      = require('./config/config.json');
    config.debug.version = pkg.version;
    config.build.version = pkg.version;


var templatespath        = config.templatespath,
    srcPath     = config.srcPath,
    distPath    = config.distPath;

var banner = ['/**',
  ' * <%= pkg.name %> - <%= pkg.description %>',
  ' * @version v<%= pkg.version %>',
  ' * @author <%= pkg.author %>',
  ' * @license <%= pkg.license %>',
  ' */',
  ''].join('\n');

gulp.task('html', function() {

  gulp.src(srcPath+'/templates/*.jade')
    .pipe(jade({
      locals: config.debug,
      pretty: true
    }))
    .pipe(gulp.dest(templatespath))
    .pipe(livereload());
});

gulp.task('html-build', function() {

  gulp.src(srcPath+'/templates/*.jade')
    .pipe(jade({
      locals: config.build
    }))
    .pipe(gulp.dest(templatespath))
    .pipe(livereload());
});


gulp.task('js-build', function () {
  return gulp.src(srcPath+'/js/*.js')
    .pipe(jshint())
    .pipe(jshint.reporter('default'))
    .pipe(uglify())
    .pipe(concat(pkg.name+'.min.js'))
    .pipe(header(banner, { pkg : pkg } ))
    .pipe(gulp.dest(distPath+"/js/"))
    .pipe(livereload());
});

gulp.task('js', function () {
  return gulp.src(srcPath+'/js/*.js')
    .pipe(jshint())
    .pipe(jshint.reporter('default'))
    .pipe(concat(pkg.name+'.js'))
    .pipe(header(banner, { pkg : pkg } ))
    .pipe(gulp.dest(distPath+"/js/"))
    .pipe(livereload());
});

gulp.task('css-build', function() {
  return gulp.src(srcPath+'/css/*.styl')
    .pipe(stylus({ use: nib(), compress: true }))
    .pipe(rename({ basename: pkg.name  , suffix:".min"}))
    .pipe(header(banner, { pkg : pkg } ))
    .pipe(gulp.dest(distPath+'/css/'));
});

gulp.task('css', function() {
  return gulp.src(srcPath+'/css/*.styl')
    .pipe(sourcemaps.init())
    .pipe(stylus({use: nib(),linenos: true}))
    .pipe(rename({ basename: pkg.name}))
    .pipe(sourcemaps.write('.'))
    .pipe(gulp.dest(distPath+'/css/'))
    .pipe(livereload());

});

gulp.task('img', function () {
    return gulp.src(distPath+'/img/*.*')
        .pipe(imagemin())
        .pipe(gulp.dest(distPath+'/img/'));
});


gulp.task('watch', function() {
  livereload.listen();
  gulp.watch(srcPath+'templates/*.jade', ['html']);
  gulp.watch(srcPath+'css/*.styl', ['css']);
  gulp.watch(srcPath+'js/*.js', ['js']);
});


gulp.task('server', ['js-build', 'css-build', 'html-build']);
gulp.task('build', ['js-build', 'css-build', 'img', 'html-build']);
gulp.task('build-js', ['js-build']);
gulp.task('build-css', ['css-build']);
gulp.task('build-html', ['html-build']);

gulp.task('dev', ['js', 'css', 'html']);


gulp.task('default', ['js', 'css', 'html']);

						</code></pre>

					</section>
					<section>
						<h2>Brunch</h2>
						<pre><code>
exports.config =
  # See http://brunch.io/#documentation for docs.
  files:
    javascripts:
      joinTo:
        'javascripts/app.js': /^app/
        'javascripts/vendor.js': /^(?!app)/

    stylesheets:
      joinTo: 'stylesheets/app.css'

    templates:
      joinTo: 'javascripts/app.js'
						</code></pre>

					</section>
				</section>
        <section>
          <h2><a href="//browserify.org/">Browserify</a> <br>VS <br>  <a href="//webpack.github.io/">webpack</a></h2>
        </section>
				<section>
					<section data-background="#EFEFEF">
						<img src="/img/dotfiles-2.png" alt="">
					</section>
					<section class="texto-subrallado" data-background="https://media.giphy.com/media/xqmJFMqVv6cnu/giphy.gif">
						<h2>✌ Aleluya ✌</h2>
						<p>Comparte todas tus <strong>.configs</strong></p>
            <br><br><br><br><br><br><br>
            <br><br><br><br>
					</section>
					<section>
						<a href="https://dotfiles.github.io/">Lista de github</a>
          </section>
				</section>




				<section>
					<blockqoute cite="http://webdevquotes.tumblr.com/post/62003314611/simply-start-making-stuff">
						<p>
							<em>“Simply start making stuff.”</em>
						</p>
						<p class="blood">Shawn Wilkins 2013</p>
					</blockqoute>
				</section>

        <section>
            <section>
                <h1>Workflow</h1>
            </section>
            <section>
                <h3>Creamos la carpeta y el <span class="blood">package.json</span></h3>
                <pre><code>
mcd prueba101
npm init
                </code></pre>
            </section>
            <section>
              <h3>Instalamos gulp en local</h3>
              <pre><code>npm install --save-dev gulp</code></pre>
            </section>
            <section>
              <h3>Creamos el gulp file</h3>
              <pre><code>subl gulpfile.js</code></pre>
            </section>
            <section>
              <h3>Creamos la estructura de carpetas</h3>
              <pre><code>
mkdir src src/stylus src/coffee src/jade dist
              </code></pre>
            </section>
            <section>
              <h3>Copiar la plantilla de gulp</h3>
              <!-- <pre><code></code></pre> -->
            </section>
            <section>
              <h3>Edita las <strong class="blood"><em>default</em> task</strong></h3>
              <pre><code>gulp.task('css', function() {
  return gulp.src(srcPath+'/stylus/*.styl')
    .pipe(stylus({use: nib(),linenos: true}))
    .pipe(rename({ basename: pkg.name}))
    .pipe(gulp.dest(distPath+'/css/'))
    .pipe(livereload());

});
              </code></pre>
            </section>
            <section>
              <h3>Configura el <span class="blood">config.json</span></h3>
              <small>Mi truco para volverme menos loco</small>
              <pre><code>{
  "debug":{
    "path_js":  "./js/prueba101.js",
    "path_css":"./css/prueba101.css",
    "livereload": true,
    "bootstrap_css": "../lib/bootstrap/dist/css/bootstrap.min.css",
    "bootstrap_js": "../lib/bootstrap/dist/js/bootstrap.min.js",
    "jquey": "../lib/jquery/dist/jquery.min.js"

  },
  "build":{
    "path_js":  "/js/prueba101.min.js",
    "path_css":"/css/prueba101.min.css",
    "livereload": false,
    "bootstrap_css": "//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css",
    "bootstrap_js": "//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js",
    "jquey": "//code.jquery.com/jquery-1.11.2.min.js"
  },
  "srcPath" :"./src",
  "distPath" :"./dist"
}</code></pre>
            </section>
            <section>
              <h3>Instalar todos los módulos con gulp</h3>
              <pre><code>
npm install gulp-rename gulp-uglify gulp-concat gulp-sourcemaps gulp-stylus
gulp-jshint gulp-livereload gulp-watch gulp-header gulp-replace
nib gulp-jade gulp-coffee gulp-token-replace --save-dev</code></pre>
            </section>
            <section>
              <h2>Instalar <span class="blood">bower</span> y usarlo para bajar dependencias</h2>
            </section>
            <section>
              <h3>Lo inicializamos para que cree el <span class="blood">bower.json</span></h3>
              <pre><code>bower init</code></pre>
            </section>
            <section>
              <h3>Copiar el <span class="blood">.bowerrc</span></h3>
              <small>Y configuramos la ruta</small>
              <!-- <pre><code></code></pre> -->
            </section>
            <section>
              <h3>Instalamos <span class="blood">bootstrap</span></h3>
              <pre><code>bower install bootstrap --save-dev</code></pre>
            </section>
            <section>
              <h2>Probamos los comandos de gulp</h2>
            </section>
            <section>
              <h3>Con/sin uglyfied</h3>
              <h3>links locales o a CDNs</h3>
            </section>
            <section>
              <h3>El <span class="blood">config.json</span> gloria vendita</h3>
            </section>
            <section>
              <h2>Compartir el proyecto</h2>
            </section>
            <section>
              <h3>Iniciar git</h3>
              <pre><code>git init</code></pre>
            </section>
            <section>
              <h3>Añadimos a git solo lo que sea imprescindible</h3>
              <pre><code>
git add *.json
git add src
git add gulpfile.js
git add .bowerrc
              </code></pre>
            </section>
            <section>
              <h3>Primer commit</h3>
              <pre><code>git commit -am "Primer commit u Hola mundo"</code></pre>
            </section>
            <section>
              <h3>Creamos un repositorio remoto</h3>
              <small>Por ejemplo <a href="https://github.com/">github</a></small>
            </section>
            <section>
              <h3>Añadimos el repo remoto a nuestro git local</h3>
              <pre><code>git remote add origin git@github.com:Viroide/prueba101.git</code></pre>
            </section>
            <section>
              <h3>Y <span class="blood">"pusheamos"</span></h3>
              <pre><code>git push -u origin master</code></pre>
            </section>
            <section>
              <h2>Que se lo baje un compi</h2>
            </section>
            <section>
              <h3>Crear carpeta</h3>
              <pre><code>mcd prueba102</code></pre>
            </section>
            <section>
              <h3>Clonar repo</h3>
              <pre><code>git clone https://github.com/Viroide/prueba101.git ./</code></pre>
            </section>
            <section>
              <h3>Instalar modulos npm</h3>
              <pre><code>npm install</code></pre>
            </section>
            <section>
              <h3>Instalar dependencias web</h3>
              <pre><code>bower install</code></pre>
            </section>
            <section>
              <h2>El día a día</h2>
            </section>
            <section>
              <h3>Tmux</h3>
              <small class="pro">guardas la config en un archivo</small><br>
              <small class="con">Deja los puertos bloqueados</small>
            </section>
            <section>
              <h3>Terminator</h3>
              <small class="pro">con detach podemos dejar todo para mañana</small><br>
              <small class="con">No es tan <span class="blood">flipado</span> como el tmux</small>
            </section>
            <section>
              <h3>¡Alias!</h3>
              <pre><code>
alias prueba101_env="chromium-browser 127.0.0.1:8000 &&
  subl --project ~/proyectos/prueba101.sublime-project &&
  cd /home/viroide/proyectos/prueba101/ &&
  terminator -mbl prueba101 &"</code></pre>
            </section>
        </section>

        <section data-background="https://media.giphy.com/media/ToMjGpAyK3hX5s1xyOk/giphy.gif">
          <section>
          <!-- {# <h1>Gracias!</h1> #} -->
          </section>
          <section class="patrocinadore texto-subrallado">
              <h2>Patrocinadores</h2>
              <!-- <img src="./img/logo_aa02.png" alt="Logo araba enkounter 02"> -->
              <br>
              <img src="./img/ed_sprii.jpg" alt="Logotipo sprii + Empresa digitala">
          </section>
          <section>
              <br><br><br><br><br><br><h1>¿Preguntas?</h1>
          </section>

        </section>
			</div>

		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>

		<script>

			// Full list of configuration options available at:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				transition: 'slide', // none/fade/slide/convex/concave/zoom

				// Optional reveal.js plugins
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true },
					{ src: 'plugin/notes/notes.js', async: true }
				]
			});

		</script>

	</body>
</html>